In [1]:
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df=pd.read_html(url)[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

now we need to clean out data from not assigned value in column 'Borough'

In [3]:
index=df[df['Borough']=='Not assigned'].index
df.drop(index , inplace=True)
df.reset_index(drop=True)

,Postal code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,Regent Park / Harbourfront
3,M6A,North York,Lawrence Manor / Lawrence Heights
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
...,...,...,...
98,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business reply mail Processing CentrE
101,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...
102,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...

now let's look if theres in 'Neighborhood' rows with NaN  or Not assigned value

In [4]:
df[df['Neighborhood']=='NaN']

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [6]:
df[df['Neighborhood']==' Not assigned']

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

as we  see our data is clean 
now we need to replace (/) in Neighborhood column with (,)

In [8]:
import numpy as np
na=[]
x='/'
y=','

for dat in df['Neighborhood']:
    m=dat.replace(x,y)
    na.append(m)
    
new_n=np.array(na)
df.Neighborhood=new_n

In [10]:
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park , Harbourfront
5         M6A        North York             Lawrence Manor , Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [11]:
df.shape

(103, 3)